<div class=table-responsive>
    <table class="table table-responsive table-borderless">
        <tbody>
            <tr>
             

                
            <tr>
                <td class=Highlight-Coin><img loading=lazy
                        src='{% static "media/check.png" %}'
                        width=15 alt="card back"
                        style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-10)!important;background-size:50% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"><b>MT4 Supported by CS</b>

            <tr>
                <td class=Highlight-Coin><img loading=lazy
                        src='{% static "media/check.png" %}'
                        width=15 alt="card back"
                        style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-10)!important;background-size:50% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"><b>10 Master Classes</b>

            <tr>
                <td class=Highlight-Coin><img loading=lazy
                        src='{% static "media/check.png" %}'
                        width=15 alt="card back"
                        style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-10)!important;background-size:50% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"><b>Live and recorded Webinars</b>

            <tr>
                <td class=Highlight-Coin><img loading=lazy
                        src='{% static "media/check.png" %}'
                        width=15 alt="card back"
                        style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-10)!important;background-size:50% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"><b>Live Trading with Marcel and Pablo</b>

            <tr>
                <td class=Highlight-Coin><img loading=lazy
                        src='{% static "media/check.png" %}'
                        width=15 alt="card back"
                        style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-10)!important;background-size:50% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"><b>Strategy Explanation</b>

            <tr>
                <td class=Highlight-Coin><img loading=lazy
                        src='{% static "media/check.png" %}'
                        width=15 alt="card back"
                        style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-10)!important;background-size:50% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"><b>2 One on One Live sessions with Marcel for FREE</b>

            <tr>
                <td class=Highlight-Coin>
                  <img loading=lazy
                  src='{% static "media/check.png" %}'
                  width=15 alt="card back"
                  style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-10)!important;background-size:50% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"><b>Support in webinars inside operations hours and according to Marcel's availability</b>                 <tr>
                <td class=Highlight-Coin><img loading=lazy
                        src='{% static "media/check.png" %}'
                        width=15 alt="card back"
                        style="background-blend-mode:normal!important;background-clip:content-box!important;background-position:50% 50%!important;background-color:rgba(0,0,0,0)!important;background-image:var(--sf-img-10)!important;background-size:50% 100%!important;background-origin:content-box!important;background-repeat:no-repeat!important"><b>The 2 Live webinar are free during the 12 months period, they are not accumative</b>


    </table>
