{% load static %}
<style>
    .card1 {
        background-color:  #FB6542; /* Olive Drab */

    }
    .fade-in {
      animation: fadeInAnimation 1s ease-in forwards;
      opacity: 0;
    }

    @keyframes fadeInAnimation {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  </style>
  
<div class="section_heading d-flex align-items-center justify-content-center wow fadeInUp animated"
style=visibility:visible;animation-name:fadeInUp>
<h2 class=mb-3>OUR PLANS</h2>
</div>
<div class="container">
    <div class="row">
        {% for basic in basic_plan %}
        <div class="col-md-4">
            <div class="card mb-4 card1 rounded fade-in">
                <div class="card-body">
                    <h5 class="card-title text-center text-light"><b>{{basic.name}}</b></h5>
                    <p class="card-text text-light">Yes TOKAZ, I want to make money for <b>
                        1 Month!</b></p>
                    <span class='text-light'><b>₹{{basic.price}}</b></span> <br><br>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2 text-light">Copy Trade Access for 1 Month</span>
                        </li>
                       
                    </ul>
                    {% comment %} <a href="product-detail/{{basic.slug}}" class="btn btn-success">Buy Now</a> {% endcomment %}
                    <a href="checkout" class="btn btn-success">Buy Now</a>
                </div>
            </div>
        </div>
      {% endfor %}
      {% for standard in standard_plan %}
        <div class="col-md-4">
            <div class="card mb-4 bg-secondary rounded fade-in">
                <div class="card-body">
                    <h5 class="card-title text-center text-light"><b>{{standard.name}}</b></h5>
                    <p class="card-text text-light">Yes TOKAZ, I want to make money for <b>6 Months!</b></p>
                    <span class='text-light'><b>₹{{standard.price}}</b></span> <br><br>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2 text-light">Copy Trade Access for 6 Months</span>
                        </li>
                        
                    </ul>
                    <a href="checkout" class="btn btn-success">Buy Now</a>
                    {% comment %} <a href="product-detail/{{standard.slug}}" class="btn btn-success">Buy Now</a> {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}

        {% for professional in professional_plan %}
        <div class="col-md-4 rounded">
            <div class="card mb-4 bg-dark text-light rounded fade-in">
                <div class="card-body">
                    <h5 class="card-title text-center text-light"><b>{{professional.name}}</b></h5>
                    <p class="card-text text-light">Yes TOKAZ, I want to make money for <b>12 Months!</b></p>
                    <span><b>₹{{professional.price}}</b></span> <br><br>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Copy Trade Access for 12 Months</span>
                        </li>
                        
                    </ul>
                    <a href="checkout" class="btn btn-success">Buy Now</a>
                    {% comment %} <a href="product-detail/{{professional.slug}}" class="btn btn-success">Buy Now</a> {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
