{% load static %}
<style>
    .fade-in {
      animation: fadeInAnimation 1s ease-in forwards;
      opacity: 0;
    }

    @keyframes fadeInAnimation {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  </style>
  
<div class="section_heading d-flex align-items-center justify-content-center wow fadeInUp animated"
style=visibility:visible;animation-name:fadeInUp>
<h2 class=mb-3>OUR PLANS</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 rounded fade-in">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>BASIC</b></h5>
                    <p class="card-text">Yes TOKAZ, I want to make money for <b>2 Months!</b></p>
                    <span><b>$74.99</b></span> <br><br>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">70-80% accuracy</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">MT4 Supported </span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">10 Master Classes</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Live and recorded Webinars</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Live Trading with Marcel and Pablo</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/cancel.png' %}" width="15" alt="check">
                            <span class="ml-2">Strategy Explanation</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/cancel.png' %}" width="15" alt="check">
                            <span class="ml-2">1 One on One Live sessions with Marcel for FREE</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/cancel.png' %}" width="15" alt="check">
                            <span class="ml-2"> Support in webinars inside operations hours and according to Marcel's availability</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/cancel.png' %}" width="15" alt="check">
                            <span class="ml-2"> The 1 Live webinar are free during the 6 months period, they are not accumulative</span>
                        </li>
                    </ul>
                    <a href="" class="btn btn-outline-success">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 rounded fade-in">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>STANDARD</b></h5>
                    <p class="card-text">Yes TOKAZ, I want to make money for <b>6 Months!</b></p>
                    <span><b>$249.99</b></span> <br><br>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">70-80% accuracy</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">MT4 Supported</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">10 Master Classes</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Live and recorded Webinars</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Live Trading with Marcel and Pablo</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Strategy Explanation</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">1 One on One Live sessions with Marcel for FREE</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Support in webinars inside operations hours and according to Marcel's availability</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">The 1 Live webinar are free during the 6 months period, they are not accumulative</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-outline-success">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 rounded">
            <div class="card mb-4 bg-dark text-light rounded fade-in">
                <div class="card-body">
                    <h5 class="card-title text-center text-light"><b>PROFESSIONAL</b></h5>
                    <p class="card-text text-light">Yes TOKAZ, I want to make money for <b>1 Year!</b></p>
                    <span><b>$499.99</b></span> <br><br>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">70-80% accuracy</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">MT4 Supported by CS</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">10 Master Classes</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Live and recorded Webinars</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Live Trading with Marcel and Pablo</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Strategy Explanation</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">2 One on One Live sessions with Marcel for FREE</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">Support in webinars inside operations hours and according to Marcel's availability</span>
                        </li>
                        <li class="mb-3">
                            <img loading="lazy" src="{% static 'media/check.png' %}" width="15" alt="check">
                            <span class="ml-2">The 2 Live webinar are free during the 12 months period, they are not accumulative</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-success">Buy Now</a>
                </div>
            </div>
        </div>

    </div>
</div>
