<style>
    @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
   

   .darksoul-layout
   {

       margin-top: 300px;
       margin-left: 500px;
       display: flex;
       width: 250px;
   }
   .darksoul-grid
   {
       margin: auto;
       margin-right: 1px;
       width: 50px;
       height: 50px;
       display: grid;
       gap: 0px;
       grid-template-columns: auto auto;
       animation: rotate 2s linear 0s infinite;
   }
   .item1
   {
       margin: auto;
       width: 15px;
       height: 15px;
       border-radius: 0%;
       background-color: rgb(17, 17, 17);
   }
   .item2
   {
       margin: auto;
       width: 15px;
       height: 15px;
       border-radius: 0%;
        background-color: rgb(139, 19, 19);
   }
   .item3
   {
       margin: auto;
       width: 15px;
       height: 15px;
       border-radius: 0%;
        background-color: rgb(11, 100, 173);
   }
   .item4
   {
       margin: auto;
       width: 15px;
       height: 15px;
       border-radius: 0%;
        background-color: rgb(7, 124, 56);
   }
   @keyframes rotate 
   {
       0%{rotate: 0deg; transform: scale(0.6);}
       50%{ rotate: 100deg; transform: scale(0.4);}    
       100%{rotate: 360deg; transform: scale(0.6);}
   }
   .darksoul-loader-h
   {
       font-size: xx-large;
       font-family: 'Anta', sans-serif;
       margin: auto;
       margin-left: 5px;
   }
</style>
<div class="darksoul-layout">
    <div class="darksoul-grid">
        <div class="item1"></div>
        <div class="item2"></div>
        <div class="item3"></div>
        <div class="item4"></div>
    </div>
    <h3 class="darksoul-loader-h"><b>TOKAZ</b></h3>
</div>
<script>
    window.addEventListener('load', function() {
        // Hide the loader after the page and all assets are fully loaded
        $(".darksoul-layout").fadeOut("slow");
    });
</script>